<h4 class="text-center teal-text">Muestras M&eacute;dicas</h4>
<hr>
<ul ng-click="activarInfo()" class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header large active"><i class="material-icons">label</i>Muestras</div>
        <div class="collapsible-body" style="padding-left:20px;padding-right:20px">
        <div ><input type="search" name="busqueda" ng-model="busqueda.$" placeholder="Buscar muestras medicas"></div>
            <table id="teibol" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">Tipo</th>
                  <th class="text-center">Cod_barras</th>
                  <th class="text-center">Recibida</th>
                  <th class="text-center">Observaciones</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Exámenes</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="muestra in muestras | filter:busqueda"">
                      <td class="text-center" style="vertical-align:middle;"> {{ muestra.tipo }} </td>
                      <td class="text-center" style="vertical-align:middle;"> {{ muestra.cod_barras }} </td>

                      <td style="text-align:center;">
                            <input ng-checked="cargarEstado(muestra)" ng-model="muestra.model" ng-disabled="muestra.model" ng-click="cambiarEstado(muestra)" type="checkbox" id="{{muestra._id}}" />
                            <label for="{{muestra._id}}">En proceso </label>
                      </td>

                      <td class="text-center" style="vertical-align:middle;"><span style="vertical-align:middle;" class="material-icons" ng-click="obs(muestra)">comment</button></td>  

                      <td class="text-center" style="vertical-align:middle;"> {{ muestra.fecha | date:'MM/dd/yyyy'}} </td>

                      <td class="text-center" style="vertical-align:middle;"><span style="vertical-align:middle;" class="material-icons" ng-click="cargarExamenes(muestra)">view_list</span></td>
                  </tr>
              </tbody>
            </table>
        </div>
    </li>

</ul>



<div id="modalEstado" class="modal" style="height:50%;padding-left:30px;padding-right:30px;padding-top:20px;margin-top:-10px">
  <form > 
    <div class="modal-body">
        <div class="row">
          <div class="input-field col s12">
            <h4 class="text-center teal-text"><i class="material-icons">mode_edit</i>
            Observaciones</h4>
            <textarea id="obs" ng-model="observacion" class="materialize-textarea"></textarea>
          </div>
        </div>
    </div>
    <div class="row modal-footer" style="padding-left:25px;padding-right:25px;padding-top:20px">
      <button type="submit" class="btn btn-primary col s5 left" ng-click="actualizarObservacion()">Aceptar</button>
      <button type="submit" class="btn btn-default col s5 right" ng-click="cerrarComent()">Cancelar</button>
    </div>
  </form>
</div>