<div class="container usuarios" >
  <h2> Muestras </h2>
  <hr>
  <table id="tablaUsuarios" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="center">codigo</th>
        <th class="center">tipo</th>
        <th class="center">llego</th>
        <th class="center" >examenes</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="muestra in muestras">;
            <td class="codigo">{{muestra.cod_barras}}</td>
            <td class="tipo">{{muestra.tipo}}</td>
            <td class="llego">{{muestra.recibido}}</td>
            <td class="center examenes_muestra" ng-click="cargarExamenes(muestra._id)"><i class="waves-effect waves-teal btn-flat">Mostrar</i></td>
        </tr>
    </tbody>
  </table>
</div>