<h4 class="teal-text text-center">Muestras M&eacute;dicas</h4>
<hr>
<ul class="collapsible popout" ng-click="activarSelect()" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Crear Muestra</div>
      <div class="collapsible-body" style="padding-left:20px;padding-right:20px">
        <form> 
              <div class="modal-body">

                  <div class="form-group">
                    Tipo de muestra <select class="browser-default" ng-options="tipo.name for tipo in tipos" ng-model="nuevo_muestra.tipo" ng-change="hasChangedTipo()">                      
                    </select>
                  </div>

                  <div class="form-group">
                    Seleccione un examen <select class="browser-default" ng-options="examen for examen in nuevo_muestra.tipo.examenes" ng-change="hasChangedExamen()" ng-model="examen">            
                    </select>
                  </div>

                  <div class="form-group">
                    Exámenes <md-chips ng-model="examenes" readonly="true" md-removable="true" md-transform-chip="newChip($chip)">
                      <md-chip-template>
                        <span>
                          <strong>{{$chip.examen}}</strong>
                        </span>
                      </md-chip-template>
                    </md-chips>
                  </div>
                                    
                  <div class="form-group">
                    Paciente <input style="border:none" type="text" class="form-control" value="{{nuevo_muestra.paciente.nombre}} {{nuevo_muestra.paciente.apellido}}" readonly ng-click="modalPaciente()">
                  </div>

                  <div class="form-group">
                    Laboratorio <input style="border:none" type="text" class="form-control" value="{{nuevo_muestra.laboratorio.nombre}}" readonly ng-click="modalLaboratorio()">
                  </div>

                  <div class="form-group">
                    Centro Medico <input style="border:none" type="text" class="form-control" value="{{nuevo_muestra.centro.nombre}}" readonly ng-click="modalCentroMed()">
                  </div>

              </div>
              <div class="modal-footer row">
                <button type="reset" class="btn btn-default col s4 right" ng-click="cancelarMuestra()">Cancelar</button>
                <button type="reset" class="btn btn-primary col s4 " ng-click="agregarMuestra(nuevo_muestra)">Crear</button>
              </div>
            </form>
      </div>
    </li>

    <li>
        <div class="collapsible-header large active"><i class="material-icons">label</i>Muestras</div>
        <div class="collapsible-body" style="padding-left:20px;padding-right:20px">
        <div ><input type="search" name="busqueda" ng-model="busqueda.$" placeholder="Buscar muestras medicas"></div>
            <table id="teibol" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Código de Barras</th>
                  <th>Recibido</th>
                  <th>Fecha</th>
                  <th>Editar</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="muestra in muestras | filter:busqueda">
                      <td class="tipo"> {{ muestra.tipo }} </td>
                      <td class="cod_barras"> {{ muestra.cod_barras }} </td>
                      <td class="recibido"> {{ muestra.recibido }} </td>
                      <td class="fecha"> {{ muestra.fecha | date:'MM/dd/yyyy'}} </td>

                      <td ><button type="button" style="border:none;background:none" class="small material-icons" ng-click="editarMuestra(muestra)">mode_edit</button></td>
                      <td ><button type="button" style="border:none;background:none" class="small material-icons" ng-click="eliminarMuestra(muestra)">delete</button></td>
                  </tr>
              </tbody>
            </table>
        </div>
    </li>

</ul>

<!-- Modales -->
<div id="modalEditarMuestra" class="modal" style="padding-left:20px;padding-right:20px;padding-top:10px;margin-top:-10px">
    <!-- Modal de editar muestra-->
    <div class="container-fluid center">
    <h5 class="text-center teal-text">Editar Muestra</h5>
    <div>
      <form> 
                  <div class="form-group col s12" >
                    <!--Tipo de muestra <select ng-init="editar_muestra.tipo = tipos[0]" ng-options="tipo for tipo in tipos" ng-model="editar_muestra.tipo">
                    </select> -->
                    <div class="select-box" ng-if="ctrl.appendToBodyDemo.present">
                    <h3>Selectize theme</h3>
                    <p>Selected: {{sel_tm}}</p>
                    <ui-select ng-model="sel_tm" theme="selectize" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a tipo" append-to-body="true">
                      <ui-select-match placeholder="Select or search a tipo in the list...">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="tipo in ctrl.countries | filter: $select.search">
                        <span ng-bind-html="tipo.name | highlight: $select.search"></span>
                        <small ng-bind-html="tipo.code | highlight: $select.search"></small>
                      </ui-select-choices>
                    </ui-select>
                    <p class="alert alert-info positioned">The select dropdown menu should be displayed above this element.</p>
                  </div>
                  </div>

                  

                  <div class="form-group">
                    Paciente <input style="border:none" type="text" class="form-control" value="{{editar_muestra._paciente.nombre}} {{editar_muestra._paciente.apellido}}" readonly ng-click="modalPaciente()">
                  </div>

                  <div class="form-group">
                    Laboratorio <input style="border:none" type="text" class="form-control" value="{{editar_muestra._laboratorio.nombre}}" readonly ng-click="modalLaboratorio()">
                  </div>

                  <div class="form-group">
                    Centro Medico <input style="border:none" type="text" class="form-control" value="{{editar_muestra._centro.nombre}}" readonly ng-click="modalCentroMed()">
                  </div>
        <button type="submit" class="btn btn-primary" ng-disabled="disEditMuestra" ng-click="putMuestra()">Aceptar</button>

    </form>
    </div>
    </div>
</div>

<div class="modal" id="modalPac" style="padding-left:20px;padding-right:20px;padding-top:10px;margin-top:-10px">
  <div class="container-fluid center">
    <h5 class="text-center teal-text">Pacientes</h5>        
    <div class="row">
      <input class="text-center" type="search" name="busqueda" ng-model="busqueda.paciente" placeholder="Buscar paciente por nombre">
    </div>
    <table id="teibol" class="table table-bordered table-striped">
      <tbody>
        <tr ng-repeat="paciente in pacientes | filter:busqueda.paciente">
          <td > {{ paciente.nombre }} {{paciente.apellido}} </td>
          <td ><button type="button" style="border:none;background:none" class="small material-icons" data-toggle="modal" ng-click="cargarPaciente(paciente)">done</button></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <button type="submit" class="btn btn-primary col s4" ng-click="linkNuevoPac()">Nuevo Paciente</button>
      <button type="submit" class="btn btn-primary col s4 right" ng-click="cerrarModPac()">Cerrar</button>
    </div>
  </div>
  
  
</div>

<div class="modal" id="modalLab" style="padding-left:20px;padding-right:20px;padding-top:10px;margin-top:-10px">
  <div class="container-fluid center modal-body">
    <h5 class="text-center teal-text">Laboratorios</h5>
    <div ><input class="text-center" type="search" name="busqueda" ng-model="busqueda.laboratorio" placeholder="Buscar laboratoio"></div>
    <table id="teibol" class="table table-bordered table-striped">
      <tbody>
        <tr ng-repeat="laboratorio in laboratorios | filter:{nombre:busqueda.laboratorio}">
          <td > {{ laboratorio.nombre }} </td>
          <td ><button type="button" style="border:none;background:none" class="small material-icons" data-toggle="modal" ng-click="cargarLaboratorio(laboratorio)">done</button></td>
        </tr>
      </tbody>
    </table>
    <div class="modal-footer">
       <button type="submit" class="btn btn-primary col s12 center" data-toggle="modal" ng-click="cerrarModLab()">Cerrar</button>
    </div>
  </div>
</div>

<div class="modal" id="modalCentro" style="padding-left:20px;padding-right:20px;padding-top:10px;margin-top:-10px">
  <div class="container-fluid center">
    <h5 class="text-center teal-text">Centros M&eacute;dicos</h5>
    <div ><input class="text-center" type="search" name="busqueda" ng-model="busqueda.centro" placeholder="Buscar Centro Medico"></div>
      <table id="teibol" class="table table-bordered table-striped">
        <tbody>
          <tr ng-repeat="centro in centros | filter:{nombre:busqueda.centro}">
            <td > {{ centro.nombre }} </td>
            <td ><button type="button" style="border:none;background:none" class="small material-icons" data-toggle="modal" ng-click="cargarCentro(centro)">done</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button type="submit" class="btn btn-primary col s12 center" data-toggle="modal" ng-click="cerrarModCM()">Cerrar</button>
      </div>
  </div>
</div>  





