<section id="contenido">
    <div id="muestras" class="muestras container">
        <h3>Muestras</h3>
        <hr>
        <table class="table table-bordered tabla-resultado">
            <tr class="text-center">
                <th>#</th>
                <th>Descripción</th>
                <th>Código</th>
                <th>Estado</th>
            </tr>
        </table>
    </div>
    
    
    <div id="reportes" class="reportes container">
        <h3>Reportes</h3>
        <hr>
    </div>
</section>