<section id="contenido">
    <div id="muestras" class="muestras container">
        <h3>Registro de Muestras</h3>
        <hr>
        <div>
        <form id="formularioCrearMuestra" method="post" action="/examen">
            <fieldset>
                <legend>Agregar una muestra</legend>
                Paciente: <input list="pctes" name="paciente">
                <datalist id="pctes">
                    <option value="Lenin Tenecela">
                    <option value="Guido Duchi">
                    <option value="Paciente1">
                </datalist>
                Muestra: <input list="muestras" name="muestra">
                <datalist id="muestras">
                    <option value="Sangre">
                    <option value="Orina">
                    <option value="Heces">
                </datalist>
                Nombre: <input type="text" name="nombre" require/><br />
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </fieldset>
        </form>
    </div>
    </div>
</section>