<section id="contenido">
    <div id="muestras" class="muestras container" class="table-responsive">
        <h3>Registro de Pacientes</h3>
        <hr>
        <div>
        <form id="formularioCrearPaciente" method="post" action="/paciente">
            <fieldset>
                <legend>Agregar Paciente</legend>
                Usuario: <input type="email" name="correo" placeholder="Ingrese correo electr&oacute;nico" require/><br />
                Nombres: <input type="text" name="Nombres" placeholder="Ingrese nombres" require/><br />
                Apellidos: <input type="text" name="Apellidos" placeholder="Ingrese apellidos" require/><br />
                Cedula: <input type="text" name="Cedula" placeholder="Ingrese c&eacute;dula" require/><br />
                Direccion: <input type="text" name="Direccion" placeholder="Ingrese direcci&oacute; paciente" require/><br />
                Teléfono: <input type="text" name="telefono" placeholder="Ingrese tel&eacute;fono" require/><br />
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </fieldset>
        </form>
    </div>
    </div>
</section>