<h4 class="text-center">Gr&aacute;ficos Estad&iacute;sticos</h4>
<hr>
<ul class="collapsible popout" data-collapsible="accordion" ng-controller="controllerReportes">
    <li>
      <div class="collapsible-header large active">Por Mes</div>
        <div class="collapsible-body">
            <div class="center">
                <nvd3 options="options" data="data"></nvd3>
            </div>
        </div>
    </li>
    <li>
      <div class="collapsible-header large active">Pie</div>
        <div class="collapsible-body">
            <div class="center">
                <nvd3 options="options" data="data"></nvd3>
            </div>
        </div>
    </li>


</ul>



