<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Laboratorista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    
    
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/estiloLab.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <!--<script type="text/javascript" src="../scripts/laboratorista.js"></script>-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Online Lab</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="active"><a href="#inicio">Inicio</a></li>-->
                    <li><a href="#muestras">Muestras</a></li>
                    <li><a href="index.html"><span class="glyphicon glyphicon-off"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <section id="contenido">
        <div id="muestras" class="muestras container">
            <h3>Muestras</h3>
            <hr>
            <table class="table table-bordered tabla-resultado" id="tabla">
                <thead>
                    <tr class="text-center">
                        <th style="display:none;">id</th>
                        <th >codigo</th>
                        <th>Tipo</th>
                        <th>Arrivó</th>
                    </tr>    
                </thead>
                <tbody id= "tabla-body">
                    
                </tbody>
                
            </table>
        </div>    
    </section>
    <footer class="footer">
        <div class="container">
            <p class="copyright text-muted small">Copyright &copy; 2016. Todos los derechos reservados</p>
        </div>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
                var codTabla = "";
                    $.ajax({
                        type: 'GET', 
                        url: '/muestras', 
                        data: {}, 
                        success: function(data){
                            $.each(data, function(i, obj) {
                                var id = obj._id;
                                var tipo = obj.tipo ;
                                var codigo = obj.cod_barras;
                                var llego = obj.recibido;
                                $( "#tabla-body" ).html(function() {
                                    codTabla = codTabla + "<tr >\n";
                                    codTabla = codTabla + "<td class='id' style='display:none;'>" + id + "</td>\n";
                                    codTabla = codTabla + "<td class='codigo'>" + codigo + "</td>\n";
                                    codTabla = codTabla + "<td class='tipo'>" + tipo + "</td>\n";
                                    codTabla = codTabla + "<td class='llego'>" + llego + "</td>\n";
                                    codTabla = codTabla + "</tr>\n";
                                    return codTabla;
                                });                         
                            });
                        }
                    });

            $('.llego').click(function() {
                console.log("clic"); 
                var id = $(this).siblings('.id').text();
                var codigo = $(this).siblings('.codigo').text();
                var tipo = $(this).siblings('.tipo').text();
                var url = "/muestra/" + id;
                var llego = $(this).siblings('.tipo').text();
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: {
                        codigo: codigo,
                        tipo: tipo,
                        llego: !llego
                     },
                    success:function(data){
                        $(this).val(!llego);
                    }
                });
            });

        });

    /*
        $(document).ready(function() {
            $('.editarProyecto').click(function() {
                 var userId = $(this).siblings('.userIdProyecto').text();               
                $("input#inputNombre.form-control").val( $(this).siblings('.nombre').text() );
                $("input#inputDescripcion.form-control").val( $(this).siblings('.descripcion').text() );
                     
               
                $("#formUpdateProyecto").submit(function(e){
                    e.preventDefault();
                    var formData=$("#formUpdateProyecto").serialize()+'&'+$.param({Id:userId})+'&'+$.param({flag:"update"});
                    var url = "ProyectosServlet";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data:formData,
                        success:function(){
                            window.location = "proyecto.jsp";
                    }
                    });
                });
            });
            $('.eliminarProyecto').click(function() {
                
               var userId = $(this).siblings('.userIdProyecto').text();
               var url = "ProyectosServlet";
               var elemento = $(this);
               
               $.ajax({
                   type: "POST",
                   url: url,
                   data: {Id:userId,flag:"delete"},
                   success:function(){
                           elemento.parent().remove();                       
      
             }
                   
               });
              
              
            });
        });
    */
    </script>
  </body>


</body>

</html>