<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administrador de examenes</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
    <link rel="stylesheet" href="../styles/styles2.css">
  </head>

  <body>
    <div id="errorLogin" class="alert alert-danger collapse" role="alert"></div>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Administrador de examenes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Muestras</a></li>
            <li><a href="#">Examenes</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container usuarios">
      <h2>Laboratorista</h2>
      <table id="tablaUsuarios" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="display:none">id</th>
            <th>codigo</th>
            <th>tipo</th>
            <th>llego</th>
            <th>examenes</th>
          </tr>
        </thead>
        <tbody id = "tabla-body">
          
        </tbody>
      </table>
    </div>


    <div class="container examenes">
      <h2>Examenes</h2>
      <table id="tablaExamenes" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="display:none">id</th>
            <th>parametro</th>
            <th>unidades</th>
            <th>resultado</th>
            <th>valores de referencia</th>
            <th>editar</th>
          </tr>
        </thead>
        <tbody id = "tabla-body-examenes">
          
        </tbody>
      </table>
    </div>

    <!-- Modal de editar examen-->
          <form id="formEditarExamen">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="titulo_form"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" id="unidades" name="unidades" placeholder="Unidades" >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="resultado" name="resultado" placeholder="Resultado">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="valores_referencia" name="valores_referencia" placeholder="Valores de referencia">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
          </form>


    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            var codTabla = "";
            $.ajax({
                type: 'GET', 
                url: '/muestras', 
                data: {}, 
                success: function(data){
                    $.each(data, function(i, obj) {
                        var id_muestra = obj._id;
                        var tipo = obj.tipo ;
                        var codigo = obj.cod_barras;
                        var llego = obj.recibido;
                        $( "#tabla-body" ).html(function() {
                            codTabla = codTabla + "<tr >\n";
                            codTabla = codTabla + "<td class='id_muestra' style='display:none;'>" + id_muestra + "</td>\n";
                            codTabla = codTabla + "<td class='codigo'>" + codigo + "</td>\n";
                            codTabla = codTabla + "<td class='tipo'>" + tipo + "</td>\n";
                            codTabla = codTabla + "<td class='llego'>" + llego + "</td>\n";
                            codTabla = codTabla + "<td class='examenes_muestra'> mostrar </td>\n";
                            
                            codTabla = codTabla + "</tr>\n";
                            return codTabla;
                        });                         
                    });
                }
            });

            //metodo que al hacer clic en examenes de una muestra, carga todos los examenes de esta
            $('body').on('click', '.examenes_muestra', function () {
                var html = "";
                var elemento = $(this);
                var id_muestra = $(this).siblings('.id_muestra').text();
                var url = "/muestra/" + id_muestra + "/examenes";

                $.ajax({
                    type: 'GET', 
                    url: url, 
                    data: {}, 
                    success: function(data){
                        $.each(data, function(i, obj) {
                            var id_examen = obj._id;
                            var parametro = obj.parametro ;
                            var unidades = obj.unidades;
                            var resultado = obj.resultado;
                            var valores_referencia = obj.valores_referencia;

                            $( "#tabla-body-examenes" ).html(function() {
                                html = html + "<tr >\n";
                                html = html + "<td class='id_examen' style='display:none;'>" + id_examen + "</td>\n";
                                html = html + "<td class='parametro'>" + parametro + "</td>\n";
                                html = html + "<td class='unidades'>" + unidades + "</td>\n";
                                html = html + "<td class='resultado'>" + resultado + "</td>\n";
                                html = html + "<td class='valores_referencia'>" + valores_referencia + "</td>\n";
                                html = html + "<td class= 'editar'><button type='button' class='btn btn-primary' data-toggle='modal' data-target='#modalEditarExamen'>editar</button></td>\n";
                                html = html + "</tr>\n";
                                return html;
                            });                         
                        });
                    }
                });
            });

            //FUNCION que al hacer click en la casilla de llego en una muestra, cambia a true
            $('body').on('click', '.llego', function () {
                var elemento = $(this);
                var id_muestra = $(this).siblings('.id_muestra').text();
                var url = "/muestra/" + id_muestra;
                var llego = Boolean($(this).siblings('.llego').text());
                
                $.ajax({
                    type:'PATCH',
                    url: url,
                    data: {
                        recibido: !llego
                     },
                    success:function(data){
                    }
                });
            });
 

            $('body').on('click', '.editar', function () {
                var elemento = $(this);
                var id_examen = elemento.siblings('.id_examen').text();

                $("#titulo_form").text( "Examen de tipo " + elemento.siblings('.parametro').text() );
                $("input#unidades.form-control").val( elemento.siblings('.unidades').text() );
                $("input#resultado.form-control").val( elemento.siblings('.resultado').text() );
                $("input#valores_referencia.form-control").val( elemento.siblings('.valores_referencia').text() );

                $("#formEditarExamen").submit(function(event){
                    var formData= $("#formEditarExamen").serialize();
                    var url = "/examen/" + id_examen + "?flag=resultados";
                    $.ajax({
                        type: "PATCH",
                        url: url,
                        data: formData,
                        success:function(data){
                            elemento.siblings('.unidades').text(data.unidades);
                            elemento.siblings('.resultado').text(data.resultado);
                            elemento.siblings('.valores_referencia').text(data.valores_referencia);
                            
                        }
                    });
                    //console.log(url);
                    id_examen = ""
                    return false;
                });
            });   

        });
    </script>
  </body>


</body>

</html>