<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mis Datos</title>

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/estiloPac.css">
    
    <style>
        body{
            min-width: 330px;
            /*background: url(Imagenes/"laboratorio.jpg") no-repeat center center;*/
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>

</head>
<div class="container">
	
</div>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Online Lab</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="active"><a href="#inicio">Inicio</a></li>-->
                    <li><a href="pac-examenes.html">Mis Ex&aacute;menes</a></li>
                    <li><a href="pac-centros_med.html">Centros M&eacute;dicos</a></li>
                    <li><a href="pac-datos.html">Mis Datos</a></li>
                    <li><a href="../views/index.ejs"><span class="glyphicon glyphicon-off"></span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


	<div id="datos-pac" class="articulo container">
		<h3>Mis Datos</h3>
        <hr>
        <form class="datos-pac" role="form">
        	<div class="form-group">
            	<label for="name">Nombres:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombres" required>
			</div>
                <div class="form-group">
                    <label for="apellido">Apellidos:</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellidos" required>
                </div>
                <div class="form-group">
                    <label for="id">C&eacute;dula:</label>
                    <input type="text" class="form-control" id="cedula" placeholder="Ingrese número de identificación" required>
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingrese email" required>
                </div>
                <div class="form-group">
                    <label for="dir">Direcci&oacute;n:</label>
                    <input type="text" class="form-control" id="dir" placeholder="Ingrese dirección" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Tel&eacute;fono:</label>
                    <input type="tel" class="form-control" id="telf" placeholder="Ingrese Teléfono" required>
                </div>
                <div class="form-group">
                    <label for="ciudad">Ciudad:</label>
                    <input type="text" class="form-control" id="ciudad" placeholder="Ingrese Ciudad" required>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
	
</body>
</html>