<style>
h5 {
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
</style>
<div class="section no-pad-bot">
    <div class="container">
        <div class="row center">
            <div>
                <table class=’export-table’>
                    <caption>Mis Ex&aacute;menes</caption>
                    <tr>
                        <th>Fecha</th>
                        <th>Examen</th>
                        <th>Estado</th>
                        <th>Descargar</th>
                    </tr>
                    <tr>
                        <td>Celda 1</td>
                        <td>Celda 2</td>
                        <td>Celda 3</td>
                        <td>Celda 4</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>