<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>Salud Primero S.A.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="contenido" class="container">
      <form role="form-signin" id="formLogin" action="/login" method="post">

        <h2 class="form-signin-heading">Ingresar</h2>

        <div class="form-group">
          <label for="correo">Correo:</label>
          <input type="email" id="correo" name="correo" class="form-control" placeholder="Ingrese su correo" />
        </div>

        <div class="form-group">
          <label for="clave" >clave:</label>
          <input type="password" name="clave" class="form-control" id="clave">
        </div>

        <div class="form-group">
          <select class="form-control" id="selectRol" name="selectRol">
            <option value="Paciente">Paciente</option>
            <option value="Operario">Operario</option>
            <option value="Laboratorista">Laboratorista</option>
            <option value="Admin">Admin</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block" id="aceptar">Aceptar</button>
        
      </form>      
    </div>

    <footer class="footer">
    </footer>
  </body>
</html>


