<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  	<!-- CSS  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	<!-- Angular views -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
  </head>

  <body>
  	<main>
		<% include app/login %>       
        
	</main>
	<footer class="page-footer cyan darken-2">
		<% include app/footer %>
	</footer>
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="scripts/materialize.js"></script>
	<script src="scripts/init.js"></script>
  </body>
</html>