<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salud Primero - Laboratorista</title>
    <% include app/scripts %>
    <script type="text/javascript" src="scripts/laboratorist/lview.js"></script>
  </head>

  <body ng-app="appMuestras">
    <div id="errorLogin" class="alert alert-danger collapse" role="alert"></div>

    <header class="container">
      <% include user/sideLaboratorista %>
    </header>

    <main>
        <% include app/header %>
        <div id="index-banner" class="parallax-container">
          <div class="section no-pad-bot">
            <div class="container">
              <br><br>
              <h1 class="header center indigo-text text-lighten-2">Administrador de Examenes</h1>
              <br><br>
            </div>
          </div>
          <div class="parallax"><img src="imagenes/main2.jpg"></div>
        </div>
        
        <div class="container">
          <ui-view></ui-view>
        </div>

    </main>

    <footer class="page-footer indigo">
        <% include app/footer %>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="scripts/materialize.js"></script>
    <script src="scripts/init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
  </body>
</html>