<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salud Primero - Operario</title>    
    <% include app/scripts %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.5/dist/angular-nvd3.js"></script>

    <script type="text/javascript" src="scripts/operator/appAngular.js"></script>

  </head>

  <body ng-app="appOperator">
    <div id="errorLogin" class="alert alert-danger collapse" role="alert"></div>

    <header class="container">
      <% include user/sideOperario %>
    </header>

    <main>
      <% include app/header %>     
      <div class="container">
        <ui-view></ui-view>
      </div>
    </main>

    <footer class="page-footer cyan darken-2">
      <% include app/footer %>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="scripts/materialize.js"></script>
    <script src="scripts/init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
  </body>
</html>