<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Salud Primero - Paciente </title>
        <% include app/scripts %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/estiloPac.css">
    

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="scripts/patient/appAngular.js"></script>
    </head>

    <body ng-app="appPatient">
        <div id="errorLogin" class="alert alert-danger collapse" role="alert"></div>
        <header class="container">
          <% include user/sidePaciente %>
        </header>
        <main>
            <% include app/header %>
            <div class="container-fluid">
              <ui-view></ui-view>
            </div>
            
        </main>
        <footer class="page-footer teal">
            <% include app/footer %>
        </footer>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="scripts/materialize.js"></script>
        <script src="scripts/init.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
    </body>
</html>