<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Salud Primero - Paciente </title>
        <% include app/scripts %>
        
        <script type="text/javascript" src="scripts/patient/appAngular.js"></script>
        <!--<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>-->
        <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
        
        <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="main.css" type="text/css">
        <link rel="stylesheet" href="styles/estiloPac.css">
        
    </head>

    <body ng-app="appPatient">
        <div id="errorLogin" class="alert alert-danger collapse" role="alert"></div>
        <header class="container"  ng-controller="ctrlDatos">
          <% include user/sidePaciente %>
        </header>
        <main>
            <% include app/header %>
            <div>
              <ui-view></ui-view>
            </div>
            
        </main>
        <footer class="page-footer cyan darken-2">
            <% include app/footer %>
        </footer>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="scripts/materialize.js"></script>
        <script src="scripts/init.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
        
    </body>
</html>