<ul id="slide-out" class="side-nav fixed">
  <li class="">
    <div class="userView teal">
      <a href="#"><img class="circle" src="imagenes/1.jpg"></a>
      <a href="#"><span class="white-text name"><%= nombre %> <%= apellido %></span></a>
      <a href="#"><span class="white-text email">Paciente</span></a>
    </div>
  </li>
  <li><a class="waves-effect" ui-sref="centros"><i class="material-icons">business</i>Centros</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" ui-sref="datos"><i class="material-icons">subject</i>Datos</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" ui-sref="examenes"><i class="material-icons">view_column</i>Examenes</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" href="/logout"><i class="material-icons">power_settings_new</i>Salir</a></li>
</ul>