<ul id="slide-out" class="side-nav fixed">
  <li class="">
    <div class="userView indigo">
      <a href="#"><img class="circle" src="imagenes/1.jpg"></a>
      <a href="#"><span class="white-text name"><%= nombre %> <%= apellido %></span></a>
      <a href="#"><span class="white-text email">Laboratorista</span></a>
    </div>
  </li>
  <li><a class="waves-effect" href="#"><i class="material-icons">view_column</i>Muestras</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" href="/logout"><i class="material-icons">power_settings_new</i>Salir</a></li>
</ul>