<div class="page-footer container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text"><b>MEAN</b> Team</h5>
        <ul>
            <li><a class="white-text">We are a team of college smart students. Somos polit&eacute;nicos.</a></li>
        <li><a class="white-text" href="http://www.espol.edu.ec/" target="_blank">ESPOL</a></li>
        <li><a class="white-text" href="https://github.com/fercarvo" target="_blank">Edgar Carvajal</a></li>
        <li><a class="white-text" href="https://github.com/wjvelez" target="_blank">Washington Vélez</a></li>
        </ul> 
    </div>
    <div class="col l3 s12 right">
      <h5 class="white-text"><b>Documentaci&oacute;n</b></h5>
      <ul>
        <li><a class="white-text" target="_blank" href="http://nvd3.org/index.html">NVD3</a></li>
        <li><a class="white-text" target="_blank" href="http://materializecss.com/getting-started.html">Materialize</a></li>
        <li><a class="white-text" target="_blank" href="https://github.com/wjvelez/Salud-Primero-V2.0">Repositorio GIT</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Made by <a class="brown-text text-lighten-3" target="_blank" href="https://github.com/wjvelez">MEAN Team</a>
  </div>
</div>