<!-- real header -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <a id="logo-container" href="#" class="brand-logo center">
      <img src="imagenes/sans.jpg" height="47px" width="240px" alt="logo">
    </a>
  </div>
</nav>