<!-- real header -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo center">
      <img src="imagenes/sans.jpg" style="margin-top: 0px" height="47px" width="230px" alt="logo">
    </a>
  </div>
</nav>


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text">Salud Primero</h1>
      <div class="row center">
        <h5 class="header col s12 light">Bienvenidos</h5>
        <!-- Modal Trigger -->
        <a class="modal-trigger waves-effect waves-light btn teal" href="#modalLogin">LogIn</a>
      </div>
      <br><br>
    </div>
  </div>
  <div parallax class="parallax"><img src="imagenes/fondo.jpg"></div>
</div>

<!-- Modal Structure -->
<div id="modalLogin" class="modal  blue lighten-5">
  <div class="container blue lighten-5 row center">
      <form class="col s12" action="/login" method="post">
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='correo' id='correo' />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='clave' id='clave' />
                <label for='password'>Enter your password</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <select class="browser-default" id="selectRol" name="selectRol">
                  <option value="Paciente">Paciente</option>
                  <option value="Operario">Operario</option>
                  <option value="Laboratorista">Laboratorista</option>
                  <option value="Admin">Admin</option>
                </select>
              </div>
            </div>
            <center>
              <button type='submit' name='btn_login' class='col s12 btn teal btn-large waves-effect'>Login</button>
            </center>
      </form>

  </div>   
</div>

<div id="modalPcte" class="modal grey">
        <center>
          <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 red lighten-4 row" style="display: inline-block; padding: 32px 20px 0px 48px; border: 1px solid #EEE;">
                    <p>Paciente: Permite ver</p>
                    <p>Centros M&eacute;dicos: Presenta informaci&oacute;n de los centros médicos (Nombre; Direcci&oacute;n; Descripci&oacute;n; Horarios; Galer&iacute;a de im&aacute;genes;	Mapa)</p>
                    <p>Mis ex&aacute;menes: Presenta informaci&oacute;n de los ex&aacute;menes (Fecha; Ex&aacute;menes a realizarse; Estado -Ingresado o Recibido-; pdf con los resultados)</p>
                    <p>Mis Datos: Permite editar datos personales (Nombres; Apellidos; C&eacute;dula; email; Direcci&oacute;n; Tel&eacute;fono; Foto; Contraseña)</p>
                </div>
          </div>
    </center> 
</div>

<div id="modalOp" class="modal grey">
        <center>
          <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 blue lighten-4 row" style="display: inline-block; padding: 32px 20px 0px 48px; border: 1px solid #EEE;">
                    <p>Operario: Cuando el usuario que ingresa es un operario puede realizar las siguientes opciones:</p>
                    <p>Registrar Paciente. Permite consultar, crear, modificar y eliminar un paciente donde se ingresa información básica (Nombres; Apellidos; C&eacute;dula; Correo electr&oacute;nico -este es el usuario del paciente-). Se genera la clave del usuario al registrar al paciente, la cual es enviada al correo.</p>
                    <p>Registrar muestra. Permite ingresar, editar y eliminar una muestra médica donde se registra: Paciente del listado del sistema. Si no existe, deberá crear un nuevo paciente. Centro Médico donde se recibió la muestra médica. Laboratorio encargado de analizar la muestra. Tipo de Muestra recibida (sangre, orina, heces) Exámenes a realizar contra la muestra (dependen de la muestra). Código de barras, generado automáticamente.</p>
                    <p>Gráficos Estadísticos. Permite visualizar: Gráfico tipo pastel del total de muestras médicas asignadas por laboratorio y Gráfico tipo barras del total de muestras médicas mensuales por laboratorio, de acuerdo al rango de meses ingresado</p>
                </div>
          </div>
    </center> 
</div>

<div id="modalLab" class="modal grey">
        <center>
          <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 green lighten-4 row" style="display: inline-block; padding: 32px 20px 0px 48px; border: 1px solid #EEE;">
                    <p>Laboratorista: Cuando el usuario que ingresa es un laboratorista puede realizar las siguientes opciones</p>
                    <p>Muestras M&eacute;dicas, que permite marcar cuando una muestra m&eacute;dica fue recibida con &eacute;xito en el laboratorio.</p>
                    <p>Ingresar resultados del análisis de una muestra. Visualiza una tabla por cada tipo de examen que se va a realizar contra la muestra. Cada tabla presenta los parámetros del examen realizado de acuerdo al siguiente esquema: Parámetro; Unidades; Resultado; Valores de referencia.</p>
                </div>
          </div>
    </center> 
</div>

<div class="section">

  <!--   Icon Section   -->
  <div class="container row">
    <div class="col s12 m4">
      <div class="card">
          <div class="card-image">
            <img src="imagenes/main1.jpg">
            <span class="card-title">Gu&iacute;a R&aacute;pida Paciente</span>
          </div>
          <div class="card-content">
              <p><u><b>Paciente:</b></u> Permite</p>
              <p>Centros M&eacute;dicos</p>
              <p>Mis ex&aacute;menes</p>
              <p>Mis Datos</p>
          </div>
          <div class="card-action">
              <a class="modal-trigger waves-effect waves-light btn teal" href="#modalPcte">Gu&iacute;a Completa</a>
          </div>
        </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="imagenes/main2.jpg">
          <span class="card-title">Gu&iacute;a R&aacute;pida Operario</span>
        </div>
        <div class="card-content">
              <p><u><b>Operario: </b></u>Permite</p>
              <p>Registrar Paciente</p>
              <p>Registrar Muestra</p>
              <p>Consultar Gr&aacute;ficos Estad&iacute;sticos</p>
          </div>
        <div class="card-action">
          <a class="modal-trigger waves-effect waves-light btn teal" href="#modalOp">Gu&iacute;a Completa</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="imagenes/main3.jpg">
          <span class="card-title">Gu&iacute;a R&aacute;pida Laboratorista</span>
        </div>
        <div class="card-content">
          <p><b><u>Laboratorista:</u></b> Permite</p>
              <p>Ver muestras m&eacute;dicas</p>
            <p>Ingresar resultados de ex&aacute;menes</p>
            <p>Visualizar tablas de los resultados</p>
        </div>
        <div class="card-action">
          <a class="modal-trigger waves-effect waves-light btn teal" href="#modalLab">Gu&iacute;a Completa</a>
        </div>
      </div>
    </div>
  </div>

</div>