<!--<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Salud Primero</h1>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="imagenes/main3.jpg"></div>
</div>
-->

<div class="container">
    <h4 class="text-center">Centros M&eacute;dicos</h4>
    <hr>
    <input type="search" name="busqueda" ng-model="busqueda" placeholder="Buscar Centro M&eacute;dico">
        
    <div class="col-xs-12 col-sm-6" style="padding-bottom:40px" ng-repeat="centro in centros | filter:{nombre:busqueda}">

        <div class="contenedor">
            <div class="centro-med">
                <div class="lado frente panel panel-default">
                  <div class="panel-heading tarjeta-titulo">
                    {{centro.nombre}}
                  </div>
                  <img src="{{centro.portada}}" alt="imagen"> 
                  
                  
                    <!--<div style="height:270px; width:270px; " class="card">
                        <div style="height:270px;" class="card-image">-->
                      
                  
                            
                        <!--</div> 
                    </div>-->
                </div>  
                <div class="lado atras panel panel-default">
                    <div class="panel-body horarios text-center">
                        <p dia text-center small>Horarios</p>
                        <p ng-repeat="dia in centro.horarios" class="dia text-center small">{{dia.horario}}</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-block info
                    modal-trigger waves-effect waves-light btn cyan darken-2" href="#modalInfo" ng-click="procesar(centro)">Más Información</button>
                </div>
                
            </div>
            <div class="modal" id="modalInfo">
                    <h4 class="text-center indigo-text">{{actual.nombre}}</h4>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                       
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-ng-repeat="i in [0,1,2]" data-slide-to="{{i}}"></li>
                      </ol>
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{actual.portada}}" alt="portada" width="460" height="345">
                        </div>
                        <div class="item" ng-repeat="foto in actual.fotos">
                          <img src="{{foto.ruta}}" alt="carrusel">
                        </div>
                      </div>

                      
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
            </div>
        </div>

        
    </div>

</div>