
<div class="container">
    <h4 class="text-center teal-text">Centros M&eacute;dicos</h4>
    <hr>
    <input type="search" name="busqueda" ng-model="busqueda" placeholder="Buscar Centro M&eacute;dico">
        
    <div class="col-xs-12 col-sm-6" style="padding-bottom:40px" ng-repeat="centro in centros | filter:{nombre:busqueda}">

        <div class="contenedor">
            <div class="centro-med">
                <div class="lado frente panel panel-default">
                  <div class="panel-heading tarjeta-titulo">
                    {{centro.nombre}}
                  </div>
                  <img src="{{centro.portada}}" alt="imagen"> 
    
                </div>  
                <div class="lado atras panel panel-default">
                    <div class="panel-body horarios text-center">
                        <p dia text-center small>Horarios</p>
                        <p ng-repeat="dia in centro.horarios" class="dia text-center small">{{dia.horario}}</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-block info
                    modal-trigger waves-effect waves-light btn cyan darken-2" href="#modalInfo" ng-click="procesar(centro)">Más Información</button>
                </div>
                
            </div>
            <div class="modal gray" id="modalInfo">
                    <h5 class="text-center teal-text">{{actual.nombre}}</h5>
                    <div class="container-fluid row">

                    <div id="myCarousel" style="height:400px;" class="carousel slide" data-ride="carousel">

                      <div class="carousel-inner" style="height:400px;" role="listbox">
                        <div class="item active">
                            <img class="img" style="height:400px;" src="{{actual.portada}}" alt="portada">
                        </div>
                        <div class="item"  ng-repeat="foto in actual.fotos">
                          <img src="{{foto.ruta}}" style="height:400px;" alt="carrusel">
                        </div>
                      </div>
                      
                      <a class="carousel-control sgt" style="left:1%;" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control ant" style="left: 83%" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                    </div>
                                        
                    <div class="container-fluid row">
                      <div class="panel col s12 m6">
                        <div class="card" >
                          <div class="panel-body" style="height:286px;width:100%;border:0">
                          <p class="text-center">Ciudad: {{actual.ciudad}}</p>
                          <p class="text-center">Direccion: {{actual.direccion}}</p>
                          <p class="text-center">Descripcion:  {{actual.descripcion}}</p>
                        </div>  
                        </div>
                      </div>
                      <div class="panel col s12 m6">
                      <div class="card">
                        <div class="panel-body">
                          <iframe src="{{setUrl(actual)}}" frameborder="0" style="height:250px;width:100%;border:0" allowfullscreen></iframe>
                        </div> 
                      </div>
                        
                      </div>  
                    </div> 
                    
            </div>
        </div>

        
    </div>

</div>



  