<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <div>
        <form id="formularioActualizarPaciente" method="put" action="/paciente/:id">
            <fieldset>
                <legend>Actualice sus datos</legend>
                Nombres: <input type="text" name="nombre" placeholder="Ingrese sus nombres" require/><br />
                Apellidos: <input type="text" name="apellido" placeholder="Ingrese sus apellidos" require/><br />
                C&eacute;dula: <input type="text" name="cedula" placeholder="Ingrese su c&eacute;dula" require/><br />
                Direcci&oacute;n: <input type="text" name="direccion" placeholder="Ingrese su direcci&oacute;" require/><br />
                Tel&eacute;fono: <input type="text" name="telefono" placeholder="Ingrese su tel&eacute;fono" require/><br />
                Foto: <input type="file" name="foto" accept=image/* require/><br />
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </fieldset>
        </form>
    </div>
    </div>
  </div>
</div>