<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <form class="col s12" id="formularioActualizarPaciente" action="/paciente/:id" method="put">
        <h4>Actualice sus Datos</h4>
            <div class='row'>
              <div class='input-field col s12'>
                <input type="text" name="Nombres" require/>
                <label for='password'>Ingrese nombre</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input type="text" name="Apellidos" require/>
                <label for='password'>Ingrese apellidos</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input type="text" name="Cedula" require/>
                <label for='password'>Ingrese c&eacute;dula</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input type="text" name="Direccion" require/>
                <label for='password'>Ingrese direcci&oacute;n paciente</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input type="text" name="telefono" require/>
                <label for='password'>Ingrese tel&eacute;fono</label>
              </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s4 btn btn-large waves-effect'>Enviar</button>
                <button type='reset' name='btn_login' class='col s4 right btn btn-large waves-effect'>Borrar</button>
              </div>
            </center>
          </form>
    </div>
  </div>
</div>