<style>
h5 {
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
</style>
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">Mis Ex&aacute;menes</h5>
        <div>
        <table class="responsive-table"> <!-- Tabla pura en html
        a) Fecha de la toma de la muestra.
        b) Exámenes a realizarse contra la muestra medica.
        c) Estado: Recién se ha ingresado al sistema, la muestra está en proceso de análisis del
        laboratorio, o los resultados están listos. ( Sea creativo para mostrar esta parte)
        d) Link para descargar el pdf con los resultados. El cual deberá ser generado una vez que
        los resultados hayan sido ingresados (revisar la librería pdfmake ).-->
            <caption>Mis Ex&aacute;menes</caption>
            <tr>
                <th>Fecha</th>
                <th>Examen</th>
                <th>Estado</th>
                <th>Descargar</th>
            </tr>
            <tr>
                <td>Celda 1</td>
                <td>Celda 2</td>
                <td>Celda 3</td>
                <td>Celda 4</td>
            </tr>
        </table>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>