/* para la seccion de centros medicos */
.contenedor{
    height: 270px;
    width: 270px;
    margin: auto;
    -webkit-perspective: 700;
    margin-bottom: 20px;
    color: dodgerblue;
}

.centro-med{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
}

.centro-med:hover {
    transform: rotateY(180deg);
}


.lado{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.frente{
    background: blank;
}


.atras{
    background: #f0f0f0;
    transform: rotateY(180deg);
}

.frente img{
    width: 100%;
    height: 100%;
}


.datos-pac{
    width: 70%;
    padding-left: 30%;
    padding-right: 20%;
}


.articulo{
    padding-top: 10px;
    padding-bottom: 10px;
}



.panel-heading.tarjeta-titulo{
    color: dodgerblue;
    font-weight: bold;
}

.panel-body.horarios{
    padding-top: 0;
    padding-bottom: 0;
}

.dia{
    margin-bottom: -1px;
    margin-top: 4px;
}
.info{
    margin-top: 5px;
}



.fila{
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.modal-centrado{
    padding: 25px 20px 25px 20px;    
    background: rgba(31, 29, 29, 0.8);
}

.resultados th{
    background-color: cadetblue;
    text-align: center;
}

.resultados td{
    background-color: dimgrey;
    text-align: center;
    color: white;
}
