/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

main, footer {
  padding-left: 300px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  main, footer {
    padding-left: 0;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.editBtn button{
   width: 30%;
   margin: 10px auto;
}

.todoList {
    border: 1px solid LightBlue;
    border-radius: 5px;
    padding: 10px;
    color: #454545;
}

.glyphicon-circle-arrow-up,
.glyphicon-circle-arrow-down,
.glyphicon-edit,
.glyphicon-remove{
    cursor: pointer
}

.item {
    text-transform: capitalize;
    border-bottom: 1px solid SteelBlue;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #454545;
}

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
    transition: all linear 1s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
    opacity: 0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
    opacity: 1;
}


.prioridad {
    margin-left: 5px;
    margin-right: 10px;
}

input[type='text'] {
    margin-bottom: 15px;
}

button {
    width: 100%;
    margin-top: 10px;
}